.tech {
  &__card {
    padding: 16px;
    margin: 24px;
    box-shadow: 1px 1px 12px grey;
    border-radius: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 95px;
      width: 95px !important;
    }
    @include respond(tab) {
      padding: 24px 32px;
      margin: 0px;
      img {
        height: 64px;
        width: 64px !important;
      }
    }
  }
}
