// Colors
$main-color   : #2A0A62;
$second-color : #AE4593;
$white-color  : #fff;

$black-color     : #333;
$gray-color      : #ddd;
$dark-gray-color : #DDD4E5;
$light-gray-color: #f5f5f5;

// Backgrounds

// Size
$f-z: 16px;