.contact-us{
  background-color: $dark-gray-color;
  input , select{
    border-color: transparent;
    &::placeholder{
      color: rgba($color: gray, $alpha: 0.5);
    }
  }
  label{font-weight: 600;}
}
